

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 50%;
  margin: auto;
}


@font-face {
  font-family: "Bebas";
  src: url(AlfaSlabOne-Regular.ttf);
}

.p1 {

  text-align: center;
}

.h2Index {
  font-family: "Bebas";
  font-size: 300%;
  text-align: left;
  /*color: cornflowerblue;*/
}

h3 {
  font-family: "Bebas";
  text-align: center;
  color:#595959;

}
.indexImg {
  width: 100%;
  height: auto;
}


#utilizadores {

  margin-top: 20%;
  float: right;
}


.loginLogo {
  width: 50%;
  height: auto;
  float: left;
}

#loginHeader {

  color: cornflowerblue;
  font-weight: bold;
  float: right;
  text-align: center;
  margin-top: 75%;

}

#loginDIV {


  margin-top: 10%;
  margin-right:50%;
  margin-left:40%;
}

#pedir, #recuperar {

  margin-right: 67%;
  float: right;
}

#loginLogofooter {
  float: right;
  width: 140%;
  height: auto;
}



#contactos {

  float: right;
  margin-right: 15%;
}

.lerMais {

  float: right;
  margin-left: 10%;
}



#map-responsive {
  position: relative;
  padding-bottom:55%;

  overflow: hidden;

}

#social-icons {
  float: right;
}
#mostrar {

  float: right;
}

#ver-saldo,#ver-faltas,#carregar-cartao,#ver-movimentos {

  width: 100%;
  margin-top:10%;
}

#map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
  height: 50% ;

}

#footerDiv {

  background-color: #ebebe0;
  width: 100%;

}

#userPhoto {

  width: 50%;
  height:  auto;
  float: right;

}

#confirmar {

  float: right;
}

#finalizar {
  float: right;
}
#anterior {
  float: left;
}

#userProfile {

  float: right;
}

#userInfo {
  float: right;

}

#alerta {

  color: white ;
}

#PTbutton , #ENbutton {

  float: right;
}


#logoCubo {

  margin-left:  25%;
  margin-right: auto;
}

.disponibilidade {

  width: 10% ;
  height: auto;
}


.prjImg {

  margin-top:10%;
    margin-bottom:10%;
}
.carousel-control {

  color: black ;
}

.carousel-indicators li {

  background-color: grey;
  border-color: black;
}

.dash{
  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;
}
